<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sg.edu.iss.mindmatters">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name = "android.permission.VIBRATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/CustomTheme"
        android:usesCleartextTraffic="true"
        android:hardwareAccelerated="true"
        android:screenOrientation="portrait"
        >
        <activity android:name=".activities.fragments.LandingActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenSize"> </activity>
        <activity android:name=".activities.ForgotPwdActivity" />
        <activity android:name=".activities.GeneralSettings" />
        <activity android:name=".activities.SettingsActivity" />
        <activity android:name=".activities.EditUserActivity" />
        <activity android:name=".activities.BaseActivity" />
        <activity android:name=".activities.fragments.getHelp.GetHelpView" />
        <activity android:name=".activities.UserMessageActivity" />
        <activity android:name=".activities.DailyQuizActivity" />
        <activity android:name=".NoNetwork" />
        <activity android:name=".activities.fragments.OnboardingActivity" />

        <receiver
            android:name=".NetworkReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".AlarmReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".dao.Notification_receiver"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".webview.QuizActivity" />
        <activity android:name=".activities.RegisterActivity" />
        <activity android:name=".activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>